<div class="container" style="margin-top:15%;">
  <h2>Authorize <strong>IFTTT</strong> to access your account</h2>

  <div class="row">

    <div class="one-half column">
      <div>
        <img src="https://d3rnbxvnd0hlox.cloudfront.net/assets/v2/ifttt-logo-1d341126b2a8e80318c2a5ef64e7cb1c.svg" alt="IFTTT logo">
      </div>
      <strong>IFTTT will be able to:</strong>
      <ul>
        <li>read your mind</li>
      </ul>
      <strong>IFTTT will NOT be able to:</strong>
      <ul>
        <li>post to your Facebook wall</li>
      </ul>
    </div>

    <div class="one-half column">
      <div>
        <a class="button button-primary" href="/authorize/ifttt/accept">Authorize</a>
      </div>
      <div>
        <a href="/authorize/ifttt/decline">decline</a>
      </div>
    </div>

  </div>
</div>
