<h1>Welcome, <%= @username %></h1>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <table class="u-full-width">
        <tbody>
          <tr>
            <td>Do the thing in the background</td>
            <td></td>
            <td></td>
            <td><a href="https://ifttt.com/applets/authorize?applet_id=&redirect_uri=" class="button button-primary">Enable</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
